{
  "presets": [
    "@babel/env",
    "@babel/react"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "@babel/plugin-proposal-class-properties"
      ]
    }
  }
}